<div class="graph-container">

	<div class="canva">
		<div>
			<app-calories-chart
			*ngIf="transformedMealsData && transformedMealsData.length > 0"
			[dailyCalorieNeeds]="dailyCalorieNeeds"
			[mealData]="transformedMealsData">
			</app-calories-chart>
		</div>
	</div>

	<div class="base-metabolic-rate-calculator">
		<h4>Oblicz swoją przemianę materii: </h4>
		<form [formGroup]="formUserData" class='form'>

			<div class="form-data">
				<label for="sex">Płeć</label>
				<select formControlName="sex" id="sex">
					<option selected disabled>-Wybierz płeć-</option>
					<option value='male'>Mężczyzna</option>
					<option value='female'>Kobieta</option>
				</select>
			</div>

			<div class="form-data">
				<label for="age">Wiek</label>
				<input
				type="number"
				formControlName='age'
				name="age"
				id="age"
				placeholder='Wiek'
				min='1'
				class='custom-input'
				>
			</div>

			<div class="form-data">
				<label for="weight">Waga</label>
				<input
				type="number"
				formControlName='weight'
				name="weight"
				id="weight"
				placeholder='Waga'
				min='1'
				class='custom-input'
				>
			</div>
			<div class="form-data">
				<label for="height">Wzrost</label>
				<input
				type="number"
				formControlName='height'
				name="height"
				id="height"
				placeholder='Wzrost'
				min='1'
				class='custom-input'
				>
			</div>
		</form>

		<div class='result-box'>
			<button class='btn btn-calculate'(click)="calculateBmiAndBaseMetabolic()">Oblicz</button>

			<button class='btn btn-save' (click)="saveData()">Zapisz</button>
			
			<span class='metabolic-block'>Twoje PPM wynosi <p>{{baseMetabolicRate}}</p>kcal</span>


			<span class='bmi-block'>Twoja BMI wynosi <p>{{bmi}}</p></span>
		</div>

		<div class="error-handler" *ngIf="errorHandler.state">
			<p>{{errorHandler.message}}</p>
		</div>
	</div>

</div>
