.enableMenu {
	display: block;
}

.disableMenu {
	display: none;
}
.item {
	text-align: center;
	border-radius: 40px;
	padding: 8px;
	&:hover{
		background-color: #ff000010;
	}

}

.logout {
	color: #cc0000;
	border-radius: 40px;
	cursor: pointer;

}
