.enableMenu {
	display: block;
}

.disableMenu {
	display: none;
}
.item {
	text-align: center;
	border-radius: 40px;
	&:hover{
		background-color: #ff000010;
	}
	a{
		padding: .5rem 1rem;
	}
}

.logout {
	color: #cc0000;
	border-radius: 40px;
	cursor: pointer;

}
