
<div class="main-container">
	<div class="sidebar">
		<img
		src="../../../../assets/img/list.svg"
		alt="menu"
		class='img'
		loading='lazy'
		(click)="toggleMenu()"
		>
		<nav class="sidebar-nav" [ngClass]="{'enableMenu': toggleMenuVariable, 'disableMenu': !toggleMenuVariable}">
			<div class="item text-wrap " routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}"><a [routerLink]='["/home"]'>Strona Główna</a></div> <!-- For everone -->
			<div class="item" routerLinkActive="active-link" ><a [routerLink]='["calculator"]'>Kalkulator</a></div> <!-- For everyone-->
			<div class="item" routerLinkActive="active-link" *ngIf="roleSubject != ''"><a [routerLink]='["meals"]'>Posiłki</a></div> <!-- For logged-->
			<div class="item" routerLinkActive="active-link" *ngIf="roleSubject == 'Premium'"><a [routerLink]='["graph"]'>Wykresy</a></div> <!-- For premium users-->
			<div class="item" routerLinkActive="active-link"><a [routerLink]='["account"]'>Konto</a></div> <!--For everybode (to login or singup) and for logged-->
			<div class="item" routerLinkActive="active-link" *ngIf="roleSubject != ''"><a [routerLink]='["settings"]'>Ustawienia</a></div> <!-- For logged-->
			<div class="item" routerLinkActive="active-link" *ngIf="roleSubject == 'Admin'"><a [routerLink]='["/admin"]'>Panel Administratora</a></div>
			<div class="item logout" routerLinkActive='active-link' (click)="logout()" *ngIf="roleSubject != ''">Wyloguj się</div> <!-- For logged-->
		</nav>
	</div>
	<div class="main-content">
		<div *ngIf="isHomeRoute then HomeContent else RouteContent"></div>
	</div>
</div>


<ng-template #HomeContent>
	<p>Witamy</p>
</ng-template>

<ng-template #RouteContent>
	<router-outlet></router-outlet>
</ng-template>

