
<div class="w-full min-h-[500px] h-full flex flex-col md:flex-row relative bg-white">
	<div class="sidebar w-full md:w-[150px] flex items-center justify-start flex-col lg:pt-10 relative">
		<img
		src="../../../../assets/img/list.svg"
		alt="menu"
		class='w-[30px] cursor-pointer left-0'
		(click)="toggleMenu()"
		>
		<div class="list-of-items py-5 flex flex-col items-center justify-center text-sm" [ngClass]="{'enableMenu': toggleMenuVariable, 'disableMenu': !toggleMenuVariable}">
			<div class="item px-2 py-4"><a [routerLink]='["calculator"]'>Kalkulator</a></div>
			<div class="item px-2 py-4" *ngIf="roleSubject != ''"><a [routerLink]='["meals"]'>Posiłki</a></div>
			<div class="item px-2 py-4" *ngIf="roleSubject == 'Premium'"><a [routerLink]='["graph"]'>Wykresy</a></div>
			<div class="item px-2 py-4"><a [routerLink]='["account"]'>Konto</a></div>
			<div class="item px-2 py-4"><a [routerLink]='["settings"]'>Ustawienia</a></div>
			<div class="item px-2 py-4 logout" (click)="logout()" *ngIf="roleSubject != ''">Wyloguj się</div>
		</div>
	</div>
	<div class="flex items-center justify-center w-full pt-4">
		<div *ngIf="isHomeRoute then HomeContent else RouteContent"></div>
	</div>
</div>


<ng-template #HomeContent>
	<p>Witamy</p>
</ng-template>

<ng-template #RouteContent>
	<router-outlet></router-outlet>
</ng-template>

