@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1028px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem; // Baza
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

// .no-scroll {
// 	overflow: hidden;
// }

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.ttf") format(".ttf"),
       url("./assets/fonts/Montserrat-Medium.ttf") format(".ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


h1 {
  font-size: 2rem; // Nagłówki większe
}

p {
  font-size: 1rem; // Paragrafy
}
