<div class="settings-container">

	<div class="settings-list">

		<div class="item">
			<p id='theme-label'>Zmień motyw:</p>
			<label class="mode them-mode">
				<input
				type="checkbox"
				[checked]="settings.isDarkMode"
				(change)="toggleTheme($event)"
				aria-labelledby="theme-change-label"
				>
				<span class="mode-label">{{ settings.isDarkMode ? 'Ciemny motyw' : 'Jasny motyw' }}</span>
				<span class="slider" aria-hidden='true'></span>
			</label>
		</div>

		<div class="item">
			<p id='remember-me'>Zapamiętaj mnie</p>
			<label class="mode them-mode">
				<input
				type="checkbox"
				[checked]="settings.isRememberMe"
				(change)="rememberMe($event)"
				aria-labelledby='Remember me'
				>
				<span class="mode-label">{{ settings.isRememberMe ? 'Zapamiętaj mnie' : 'Nie pamiętaj mnie'}} </span>
				<span class="slider" aria-hidden='true'></span>
			</label>
		</div>
		<div class="item font-size">
			<p id='font-size'>Zmień rozmiar czcionki:</p>
			<span class='font-size-control'>
				<input type="range"
				name="input-font-size"
				id="font-size"
				min='10'
				max='20'
				step='1'
				[value]="settings.defaultFontSize"
				(input)="applyFontSize($event)"
				aria-labelledby="font-size"
				>
				<span class='font-size-value'>{{settings.defaultFontSize}}px</span>
			</span>
		</div>
		<span class="item">
			<button class="delete-account" (click)="deleteAccount()">
				Usuń konto
			</button>
		</span>
	</div>

</div>
