<div class="settings-container">

	<div class="settings-list">

		<div class="item">
			<p>Zmień motyw:</p>
			<label class="mode them-mode">
				<input
				type="checkbox"
				[checked]="settings.isDarkMode"
				(change)="toggleTheme($event)"
				>
				<span class="slider"></span>
				<span class="mode-label">{{ settings.isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
			</label>
		</div>

		<div class="item">
			<p>Zapamiętaj mnie</p>
			<label class="mode them-mode">
				<input
				type="checkbox"
				[checked]="settings.isRememberMe"
				(change)="rememberMe($event)"
				>
				<span class="slider"></span>
				<span class="mode-label">{{ settings.isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
			</label>
		</div>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
	</div>

</div>
