<div class="settings-container">

	<div class="settings-list">

		<label class="item them-mode">
			<p>Zmień: motyw</p>
			<input
			type="checkbox"
			[checked]="isDarkMode"
			(change)="toggleTheme($event)"
			>
			<span class="slider"></span>
			<span class="mode-label">{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
		</label>

		<label class="item them-mode">
			<p>Druga opcja</p>
			<input
			type="checkbox"
			>
			<span class="slider"></span>
			<span class="mode-label">{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
		</label>
		<span class="item"></span>
		<span class="item"></span>
		<span class="item"></span>
	</div>

</div>
