<div class="flex flex-col items-center justify-center lg:flex-row">
		<!-- Producs data -->
		<div class="overflow-x-auto max-w-[310px] text-xs md:text-lg sm:max-w-[400px]">
			<table class="border-collapse">
				<tbody>
					<!-- Nagłówek -->
					<tr>
						<th class="p-2 text-left custom-pointer">Nazwa:</th>
						<td *ngFor="let product of products" class="border p-2 min-w-[150px] custom-pointer">{{ product.name }}</td>
					</tr>
					<tr>
						<th class="p-2 text-left custom-pointer">Kcal:</th>
						<td *ngFor="let product of products" class="border p-2 custom-pointer">{{ product.details.kcal }}</td>
					</tr>
					<tr>
						<th class="p-2 text-left custom-pointer">Białka:</th>
						<td *ngFor="let product of products" class="border p-2 custom-pointer">{{ product.details.proteins }}g</td>
					</tr>
					<tr>
						<th class="p-2 text-left custom-pointer">Tłuszcze:</th>
						<td *ngFor="let product of products" class="border p-2 custom-pointer">{{ product.details.fats }}g</td>
					</tr>
					<tr>
						<th class="p-2 text-left custom-pointer">Węgle:</th>
						<td *ngFor="let product of products" class="border p-2 custom-pointer">{{ product.details.carbohydrates }}g</td>
					</tr>
				</tbody>
			</table>
		</div>

	<!-- Kalkulator -->
	<div class='max-w-80 max-h-80 px-8 py-8'>
		<form [formGroup]="formProductCalculator" class='flex flex-col items-center justify-center'>

			<select formControlName='selectedProduct' name="selectedProduct" class='py-4'>
				<option [ngValue]='null' selected disabled>Wybierz produkt:</option>
				<option *ngFor="let product of products" [value]="product.name">{{product.name}}</option>
			</select>

			<input formControlName='weight' name='weight' type="number" placeholder="Waga" class='py-4' />

			<div class="button-group">
				<button [ngClass]="{'enable': formProductCalculator.valid, 'disable': !formProductCalculator.valid}" class='max-w-[100px] custom-button' (click)="addValue()">Dodaj Produkt</button>
				<button [ngClass]="{'enable': formProductCalculator.valid, 'disable': !formProductCalculator.valid}" class='max-w-[100px] custom-button' (click)="sum()">Policz Kcal</button>
			</div>
		</form>

		<div id='list-of-added-product' class="py-8">
			<div *ngFor="let product of data" class='flex justify-between'>
				<p class='max-w-[100px]'>{{product.name.name}}</p>
				<p class='max-w-[30px]'>{{product.weight}}g</p>
				<p class='max-w-[30px]'>{{product.kcal}}kcal</p>
			</div>
		</div>
	</div>

</div>
