<!-- Producs data -->
<div class="overflow-x-auto max-h-96 p-2">
  <table class=" table-auto">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2 text-left custom-pointer">Nazwa</th>
        <th class="px-4 py-2 text-left custom-pointer">Kcal /100g	</th>
        <th class="px-4 py-2 text-left custom-pointer">Białko (g)</th>
        <th class="px-4 py-2 text-left custom-pointer">Węgle (g)</th>
        <th class="px-4 py-2 text-left custom-pointer">Tłuszcze (g)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="border px-4 py-2 custom-pointer">{{ product.name }}</td>
        <td class="border px-4 py-2 custom-pointer">{{ product.details.kcal }}</td>
        <td class="border px-4 py-2 custom-pointer">{{ product.details.proteins }}</td>
        <td class="border px-4 py-2 custom-pointer">{{ product.details.carbohydrates }}</td>
        <td class="border px-4 py-2 custom-pointer">{{ product.details.fats }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Kalkulator -->
<div>
	Tutaj będzie kalkulator
</div>

