<div class="admin-container">

	<div class="panel add">
		<h3>Dodaj produkt</h3>

		<div class="form-container">
			<form action="" class="form">
				<div class="form-item">
					<label for="id_prod">ID produktu</label>
					<input type="number" id="id_prod" name="id_prod" required>
				</div>
				<div class="form-item">
					<label for="name">Nazwa</label>
					<input type="text" id="name" name="name" required>
				</div>

			</form>
		</div>
	</div>
	<div class="panel edit">
		<h3>Edytuj produkt</h3>
	</div>
	<div class="panel delete">
		<h3>Usuń produkt</h3>
	</div>
</div>

