.account-button {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 8px;
	width: 142px;
	height: 92px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;

	&:hover {
		cursor: pointer;
		transform: scaleX(1.1) scaleY(1.1);
		font-size: 18px;
	}
}


.account-dashboard {
	div {
		h3 {
			font-size: 20px;
			margin: 0;
			// text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			text-transform: uppercase;
			letter-spacing: 1.1px;
			font-weight: 600;
		}

		span{
			padding: .5rem 0 0 0;

		}
	}
}

.subscription-details {
	display: flex;
	flex-direction: column;

}
