.account-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;

	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
}


.account-button {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	cursor: pointer;

	a{
		padding: 1.5rem;
	}
}



.account-dashboard {
	div {
		h3 {
			font-size: 20px;
			margin: 0;
			// text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			text-transform: uppercase;
			letter-spacing: 1.1px;
			font-weight: 600;
		}

		span{
			padding: .5rem 0 0 0;

		}
	}
}

.subscription-details {
	display: flex;
	flex-direction: column;

}
