<div *ngIf="isLogged then AccountDashboard else UserForms">

</div>


<ng-template #UserForms>
	<div  class='flex flex-col items-center justify-center sm:flex-row'>
		<div class="account-button"><a [routerLink]='["/home/forms/login"]'>Logowanie</a></div>
		<div class="account-button"><a [routerLink]='["/home/forms/register"]'>Rejestracja</a></div>
	</div>
</ng-template>
<ng-template #AccountDashboard>
	<div class="">
		<b>Witaj użytkowniku </b>{{user.email}} <br>
		<b>Twoja rola to</b> {{user.role}}
	</div>
</ng-template>

