<div *ngIf="isLogged then AccountDashboard else UserForms">

</div>


<ng-template #UserForms>
	<div  class='flex flex-col items-center justify-center sm:flex-row'>
		<div class="account-button"><a [routerLink]='["/home/forms/login"]'>Logowanie</a></div>
		<div class="account-button"><a [routerLink]='["/home/forms/register"]'>Rejestracja</a></div>
	</div>
</ng-template>
<ng-template #AccountDashboard>
	<div class="account-dashboard">

		<div class="capitalize flex flex-col">
			<h3 class='text-center py-6'>Dane użytkownika</h3>
			<span>Adres email: <i class='normal-case'>{{user.email}}</i></span>
			<span>Pakiet: <i class="normal-case">{{user.role | translate }}</i></span>
		</div>

		<div class='flex flex-col' *ngIf="user.role == 'Premium'">
			<h3 class='text-center py-6'>Konfigurator</h3>

			<label for="customFontUrl">Wklej link do czcionki: </label>
			<input type="text" [(ngModel)]="customFontUrl" name="customFontUrl" id="customFontUrl" placeholder='https://fonts.google.com/'>
			<button (click)="saveFont()">Zainstaluj</button>
			<span *ngIf="!validationInfo.fontValid">{{validationInfo.fontError}}</span>

			<!-- <span>Ważność pakietu: <i class='normal-case'>{{user.premiumPackage.expirationDate}}</i></span>
			<span>Limit formularzy: <i class='normal-case'>{{user.premiumPackage.limit}}</i></span>
			<span>Formularze: <i class='normal-case'>{{user.premiumPackage.forms}}</i></span> -->

		</div>

		<div class="flex flex-col normal-case">
			<h3 class='text-center py-6'>Subskrypcja</h3>
			<div *ngIf="user.role == 'Free'">
				<p>Aktualnie posiadasz plan darmowy</p>
				<span>Kup premium: <button (click)="buyPremium()">Kup</button></span>
			</div>
			<div *ngIf="user.role == 'Premium'" class='flex flex-col '>
				<p>Aktualnie posiadasz plan premium</p>
				<span>Data zakupu: {{ package?.purchaseDate | date: 'dd/MM/yyyy'}}</span>
				<span>Data ważności: {{package?.expirationDate | date: 'dd/MM/yyyy'}}</span>
				<span>Status subskrypcji: {{package?.status ?? "" | translate }}</span>
				<span>Metoda płatności: {{package?.paymentMethod}}</span>
				<span>Rozliczenia cykliczne: {{package?.recurringPayment | booleanHandler }}</span>
			</div>
		</div>
	</div>
</ng-template>

