.custom-height {
	min-height: calc( 100vh - 4.5rem - 5rem); // 100vh - screen, 2.5em - header, 6rem - footer
}
.footer {
	width: 100%;
	min-height: 80px;
	font-size: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111827;
	color: white;
}
