th {
	background-color: var(--content-bg) !important;
	color: var(--content-text) !important;
}

.product-table {
	font-size: .75em;
	overflow-x: auto;
	max-width: 300px;
	@media screen and (min-width: 450px) {
		max-width: 400px;
	}
	@media screen and (min-width: 600px) {
		max-width: 550px;
	}
	@media screen and (min-width: 768px) {
		min-width: 85%;
	}
	@media screen and (min-width: 1024px) {
		max-width: 75%;
	}
}

.product-table::-webkit-scrollbar {
  height: 9px;
  background-color: var(--scrollbar);
  border-radius: 10px;
}


.product-table::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
}


.product-table::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 10px;
}

.custom-pointer{
	&:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.custom-button-green {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;

	&:hover {
		background-color: #45a049;
	}
}
.custom-button-red {
	background-color: #ff4000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;

	&:hover {
		background-color: #ff6000;
	}
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: var(--black-opacity-70);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
	// transform: translate(-25%, -100%);
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



.enable {
	pointer-events: all;
	opacity: 1;
}

.disable {
	pointer-events: none;
	opacity: 0.7;
}

table {
  width: 100%;
  white-space: nowrap;
}

th {
  background-color: #f3f4f6;
  text-align: left;
  font-weight: bold;
	border: 1px solid var(--table-border-color);

}

td {
  text-align: center;
	border: 1px solid var(--table-border-color);

}

input, select {
	background-color: inherit;
}
option {
	background-color: var(--content-bg);
	color: var(--content-text);
}

