.custom-pointer{
	&:hover {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.custom-button-green {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;

	&:hover {
		background-color: #45a049;
	}
}
.custom-button-red {
	background-color: #ff4000;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;

	&:hover {
		background-color: #ff6000;
	}
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
	// transform: translate(-25%, -100%);
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



.enable {
	pointer-events: all;
	opacity: 1;
}

.disable {
	pointer-events: none;
	opacity: 0.7;
}

table {
  width: 100%;
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}

th {
  background-color: #f3f4f6; /* Jasne tło dla etykiet */
  text-align: left;
  font-weight: bold;
}

td {
  text-align: center;
}
