.meals-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.add-meal-card {
	z-index: 2;
	padding: 1.6rem 1.067rem;
	margin: 1rem 0;
	border-radius: .6rem;
	box-shadow: 0px 4px 12px var(--black-opacity-70);
	background-color: var(--white);
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 300px;

	@media screen and (min-width: 500px) {
		width: 400px;
	}
	@media screen and (min-width: 768px) {
		width: 450px;
	}

}

.meal-card-box {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;

	&.additional-select {
		flex-direction: column;
	}
	&.additional-details {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		span {
			padding: 0.5rem;
		}

		p{
			letter-spacing: 0;
			font-weight: 600;
		}
	}
	&.products {
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
	}

	label {
		font-size: 1rem;
		width: 20%;
		cursor: pointer;
		letter-spacing: .13rem;
	}
	.custom-input {
		position: relative;
		width: 80%;
		text-align: left;
		outline: none;
		overflow-x: auto;
		padding: 0.5rem;
		margin: 0 0.6rem;
		border-bottom: 1px solid transparent;
		transition: border-bottom .3s ease-in-out;

		&:hover {
			border-bottom: 1px solid var(--black-light);
		}
	}
}

.products-wrapper {
	display: flex;
	flex-direction: column;
}
.handler {
	width: 100%;
	text-align: center;
	padding: 0.5rem;

	.message {
		font-size: 1.5rem;
		color: var(--red-dark)
	}
}

.btn {
	padding: 0.5rem 1rem;
	cursor: pointer;
	overflow: hidden;
	letter-spacing: .25rem;
}

.btn-toggle {
	box-shadow: 0px 4px 12px var(--red);
	color: var(--white);
	background-color: var(--red-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--red-opacity-90);
	}
}
.btn-add {
	box-shadow: 0px 4px 12px var(--blue);
	color: var(--white);
	background-color: var(--blue-ocean);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--blue-opacity-90);
	}
}
.btn-save {
	box-shadow: 0px 4px 12px var(--blue-deep);
	color: var(--white);
	background-color: var(--blue-navy);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--blue-opacity-90);
	}
}
.btn-edit {
	color: var(--white);
	background-color: var(--green-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--green-opacity-90);
	}
}
.btn-delete {
	color: var(--white);
	background-color: var(--red-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--red-opacity-70);
	}
}

// .meal-description {
// 	font-size: .8rem;
// }

// .meals-table-item{
// 	display: flex;
// 	flex-direction: column;

// 	& .product-details {
// 		display: grid;
// 		grid-template-columns: 2fr 1fr 1fr;
// 		p {
// 			padding: 4px 3px;
// 		}
// 	}
// }

// .handler-style{
// 	font-size: 0.8rem;
// 	font-style: italic;
// }

// .meal-table {
// 	margin-top: 1rem;
// 	display: grid;
// 	grid-template-columns: 1fr;
// 	font-size: 16px;
// 	gap: 2.4rem;

// 	.meal-table-item{
// 		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
// 		padding: 1rem;
// 		max-width: 280px;

// 		.btn-show {
// 			font-size: 0.8rem;
// 			padding: 0.5rem;
// 			margin-top: 5px;
// 		}
// 		.date{
// 			font-size: 0.875rem;
// 			text-align: right;
// 			padding: 1rem 2rem;
// 		}

// 		.title {
// 			text-align: center;
// 			padding: 1rem 0;
// 			text-transform: capitalize;
// 		}

// 		.description {
// 			text-indent: 1.4rem;
// 			font-size: 0.9rem;
// 			word-wrap: break-word;
// 			overflow-wrap: break-word;
// 			white-space: normal;
// 			max-height: 75px;
// 			overflow-y: auto;
// 			padding: 0.5rem;
// 			border: 1px solid #ccc;
// 			border-radius: 15px 0 0 15px;
// 		}

// 		.item-details {
// 			font-size: 0.8rem;
// 			padding: 10px 0;

// 			.name {
// 				font-size: 14px;
// 				padding: .4rem;
// 			}
// 			.weight {
// 				font-size: 14px;
// 				padding: 0.4rem;
// 			}
// 			.product-details{
// 				padding-top: 0.5rem;
// 				display: flex;
// 				flex-direction: column;
// 				gap: 0.4rem;
// 			}
// 		}
// 	}
// }



// @media screen and (min-width: 450px) {
// 	.add-meal-card {
// 		width: 350px;
// 	}
// }
// @media screen and (min-width: 600px) {
// 	.add-meal-card {
// 		width: 450px;
// 	}
// 	.meal-table {
// 		grid-template-columns: 1fr 1fr;
// 	}
// }
// @media screen and (min-width: 768px) {
// 	.add-meal-card {
// 		width: 500px;
// 	}
// 	.meal-card-box{
// 		&.additional {
// 			flex-direction: row;
// 		}
// 	}
// }

// @media screen and (min-width: 850px) {
// 	.meal-table-item{
// 		max-width: 400px;
// 	}
// }
