<div class="flex flex-col items-center justify-center relative">

	<div class="text-center">
		<h2 class='py-5 text-xl'>Posiłki</h2>
		<button class="btn btn-add" (click)="openAddMeal()">Dodaj Posiłek</button>
	</div>

	<div class="add-meal-card flex flex-col justify-center" *ngIf="showAddMealCard">
		<div class="meal-card-box">
			<label for="meal-header">Tytuł</label>
			<input
			type="text"
			id='meal-header'
			class='custom-input'
			[(ngModel)]="title"
			>
		</div>
		<div class="meal-card-box">
			<label for="meal-description">Opis</label>
			<input
			type="text"
			id='meal-description'
			class='custom-input'
			[(ngModel)]="description"
			>
		</div>
		<div class="meal-card-box flex-col md:flex-row">
			<select
			name="select-product"
			id="select-product"
			[(ngModel)]="selectedProductById"
			(change)="onProductChange()"
			class='mb-4'
			>
				<option [ngValue]="null" selected disabled>-Wybierz produkt-</option>
				<option [value]="product.id_prod" *ngFor="let product of products">{{product.name}}</option>
			</select>
			<input
			type="number"
			id='weight'
			[(ngModel)]="productWeight"
			min='0'
			placeholder='Waga produktu'
			class='text-center'>
		</div>
		<div class="meal-card-box flex-col md:flex-row" *ngIf="selectedProduct">
			<!-- Description -->
			<span>Kalorie: {{selectedProduct.details.kcal}}</span>
			<span>Węgle: {{selectedProduct.details.carbohydrates}}</span>
			<span>Tłuszcze: {{selectedProduct.details.fats}}</span>
			<span>Białka: {{selectedProduct.details.proteins}}</span> <br>
		</div>

		<button (click)="addMealToTable()">Dodaj</button>

		<div class='py-5'>
			<h4 class='tracking-wide'>{{title}}</h4>
			<p>{{description}}</p>
		</div>

		<div class='meals-table' *ngFor="let product of mealsTable; let i = index">
			<p>Produkt: {{product.name}}</p>
			<div class='meals-table-item'>
				<span class='cursor-pointer font-semibold text-sm' (click)="toggleDescription(i)">Szczegóły: </span>
				<div  class='grid grid-cols-5' *ngIf="product.showDescription">
					<p class='meal-description'>Waga: {{product.weight.toFixed(2)}}</p>
					<p class='meal-description'>Kcal: {{product.details.kcal.toFixed(2)}}</p>
					<p class='meal-description'>Węgle: {{product.details.carbohydrates.toFixed(2)}}</p>
					<p class='meal-description'>Tłuszcze: {{product.details.fats.toFixed(2)}}</p>
					<p class='meal-description'>Białka: {{product.details.proteins.toFixed(2)}}</p>
				</div>
				<div>
					<button class='btn btn-delete my-2 mx-4 p-2' (click)="deleteMealFromTable(i)">Usuń</button>
					<button class='btn btn-edit my-2 mx-4 p-2' (click)="toggleEditMode(i)">Edytuj</button>
				</div>
			</div>

			<div *ngIf="product.editMode">
				<input
				type="number"
				id='weight'
				[(ngModel)]="updateProductWeight"
				min='0'
				placeholder='Waga produktu'
				class='text-center'>
				<button class='btn btn-save' (click)="editMealFromTable(i)">Zapisz</button>
			</div>
		</div>
	</div>


</div>


<!-- <div class="max-w-[300px] py-5 border-solid border-2 border-black rounded-lg">

	<div class="meals-list-item" *ngFor="let meal of meals">
		<div class="meals-list-item-header">
			<h3>{{ meal.name }}</h3>
			<button class="btn btn-edit" (click)="openEditMeal(meal)">Edytuj</button>
			<button class="btn btn-delete"(click)="openDeleteMeal(meal)">Usuń</button>
		</div>

		<div class="meals-list-item-body">
			<p>{{ meal.description }}</p>
			<p>{{ meal.calories }} calories</p>
			<p>{{ meal.protein }}g protein</p>
			<p>{{ meal.carbs }}g carbs</p>
			<p>{{ meal.fat }}g fat</p>
		</div>
	</div>

</div> -->
