.meals-container {
	position: relative;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.add-meal-card {
	z-index: 2;
	padding: 1.6rem 1.067rem;
	margin: 4rem 0;
	border-radius: .6rem;
	box-shadow: 0px 4px 12px var(--meal-card-shadow);
	background-color: var(--meal-card-bg);
	color: var(--meal-card-text);
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 300px;

	input, select, option {
		background-color: inherit;
		cursor: pointer;
		max-width: 250px;
		margin: 0 auto
	}

	@media screen and (min-width: 500px) {
		width: 400px;
	}
	@media screen and (min-width: 768px) {
		width: 450px;
	}

}

.meal-card-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 30px;

	&.additional-select {
		flex-direction: column;
	}
	&.additional-details {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		span {
			padding: 0.5rem;
		}

		p{
			letter-spacing: 0;
			font-weight: 600;
		}
	}
	&.products {
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		justify-items: center;
		gap: 15px;
		max-width: 320px;

		@media screen and (min-width: 500px) {
			grid-template-columns: 1fr 1fr;
			max-width: 500px;
			// gap: 1.5rem;
		}

		@media screen and (min-width: 750px) {
			grid-template-columns: 1fr 1fr 1fr;
			max-width: 750px;

		}

		@media screen and (min-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			max-width: 1000px;
		}

	}

	label {
		font-size: 1rem;
		width: 20%;
		cursor: pointer;
		letter-spacing: .13rem;
	}
	.custom-input {
		position: relative;
		width: 80%;
		text-align: left;
		outline: none;
		overflow-x: auto;
		padding: 0.5rem;
		margin: 0 0.6rem;
		border-bottom: 1px solid transparent;
		transition: border-bottom .3s ease-in-out;

		&:hover {
			border-bottom: 1px solid var(--black-light);
		}
	}
}

.products-wrapper {
	display: grid;
	padding-bottom: 1rem;

	.product {

		.product-name {
			font-size: 1.5rem;
			text-align: center;
		}

		.product-details {
			display: block;
		}
	}
}
.handler {
	width: 100%;
	text-align: center;
	padding: 0.5rem;

	.message {
		font-size: 1.5rem;
	}
}
.btn {
	padding: 0.5rem 1rem;
	cursor: pointer;
	overflow: hidden;
	letter-spacing: .25rem;
	border-radius: 25px;
}
.btn-toggle {
	box-shadow: 0px 4px 12px var(--red);
	color: var(--white);
	background-color: var(--red-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--red-opacity-90);
	}
}
.btn-add {
	box-shadow: 0px 4px 12px var(--blue);
	color: var(--white);
	background-color: var(--blue-ocean);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--blue-opacity-90);
	}
}
.btn-save {
	box-shadow: 0px 4px 12px var(--blue-deep);
	color: var(--white);
	background-color: var(--blue-navy);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--blue-opacity-90);
	}
}
.btn-edit {
	color: var(--white);
	background-color: var(--green-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--green-opacity-90);
	}
}
.btn-delete {
	color: var(--white);
	background-color: var(--red-dark);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--red-opacity-70);
	}
}
.btn-show {
	letter-spacing: normal;
	background-color: var(--green-opacity-90);
	color: var(--black);
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: var(--green-opacity-70);
	}
}


.meal-table {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	font-size: 16px;
	padding-top: 0.7rem;

	@media screen and (min-width: 700px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: 1100px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.meal-table-item {
		box-shadow: 0px 4px 12px var(--meal-shadow);
		border-radius: 1rem;
		background-color: var(--meal-item-bg);
		color: var(--meal-item-text);
		padding: 1rem;
		max-width: 320px;

		.delete {
			display: flex;
			justify-content: space-between;
		}

		.date {
			text-align: right;
			font-size: 0.875rem;
		}

		.img {
			width: 20px;
			cursor: pointer;
		}

		.title {
			font-size: 1.5rem;
			text-align: center;
		}

		.description {
			text-indent: 1.4rem;
			font-size: 0.9rem;
			word-wrap: break-word;
			overflow-wrap: break-word;
			height: 90px;
			overflow-y: auto;
			padding: 1rem 0.5rem;
			margin: 1rem 0;
			border-radius: 15px 0 0 15px;
			background-color: inherit;
		}
		.item {
			padding: 1rem;
			display: grid;
			grid-template-columns: 2fr 1fr 2fr;

			.name {
				font-size: 1rem;
				display: inline-block;
			}
			.weight {
				display: inline-block;
			}
			.product-details{
				 p{
					font-size: 0.9rem;
				 }
			}
		}
	}
}
