<div class="container flex flex-col items-center justify-center tracking-wider">
	<h2 class='text-3xl uppercase'>Rejestracja</h2>
	<form class="w3/4 flex flex-col items-center justify-center p-4 mt-5 ">
		<input type="email"
		placeholder="Email"
		[(ngModel)]="email"
		name='login'
		class='input'
		>
		<input type="text"
		placeholder='Hasło'
		[(ngModel)]="password"
		name='password'
		class='input'
		>
		<button type="button" (click)="sendFormValue()">Zarejestruj się</button>
		<i class='text-xs'>Rejestrując się akceptujesz regulamin i politykę prywatności</i>
	</form>

	<div *ngIf="!validData"  class="p-4" [ngClass]="{'inCorrect': !changeColor, 'correct': changeColor}">
		{{ message }}
	</div>


	<div class="text-center">
		<button (click)="changeMode()" class="text-s underline">Masz konto? Zaloguj się</button>
	</div>
</div>
